#voltar {
  position: fixed;
  left: 10px;
  /* Ajuste conforme necessário */
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  z-index: 1000;

}

ion-content {
  --background: none;
  background-image: url('../../assets/ComidaRapida.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  form {
    margin-top: 2%;
    margin-left: 20%;
    border-radius: 8px;
    max-width: 60%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* Alinha os itens verticalmente */
    align-items: center;
  }

  ion-item {
    width: 65%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */

  }

  #salvar {
    width: 50%;
    align-self: center;
    /* Centraliza o botão dentro do formulário */
  }
}

ion-button {
  margin-bottom: 10px;
  --background: #DC143C;
  --background-activated: #3171e0;
  --background-focused: #3171e0;
  --background-hover: #3171e0;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

ion-button:hover {
  transform: scale(1.05);
  background-color: transparent;
}

ion-button:active {
  transform: scale(0.95);
}