<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Cadastro de Lanche</ion-title>
  </ion-toolbar>
  
  <div>
    <ion-button (click)="voltarParaPaginaInicial()" id="voltar">Voltar</ion-button>
  </div>
</ion-header>

<ion-content>
  <form (ngSubmit)="cadastrarLanche()" #lancheForm="ngForm">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="lanche.nome" name="nome" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Preço</ion-label>
      <ion-input type="number" [(ngModel)]="lanche.preco" name="preco" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input type="text" [(ngModel)]="lanche.descricao" name="descricao" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Categoria</ion-label>
      <ion-input type="text" [(ngModel)]="lanche.categoria" name="categoria" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Status</ion-label>
      <ion-input type="text" [(ngModel)]="lanche.status" name="status" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Foto do Lanche</ion-label>
      <input type="file" (change)="handleFileInput($event)" accept="image/*">
    </ion-item>
    <ion-button id="salvar" expand="block" type="submit">Cadastrar</ion-button>
  </form>

  <ion-list>
    <ion-item *ngFor="let lanche of lanches">
      <ion-label>
        <h2>{{ lanche.nome }}</h2>
        <p>{{ lanche.descricao }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


