<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Cadastro de Lanche</ion-title>
  </ion-toolbar>
  
  <div>
    <ion-button (click)="voltarParaPaginaInicial()" id="voltar">Voltar</ion-button>
  </div>

</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" #lancheForm="ngForm">
    <ion-item>
      <ion-label position="floating"> Nome </ion-label>
      <ion-input type="text" [(ngModel)]="lanche.nome" name="nome" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Preço</ion-label>
      <ion-input type="text" [(ngModel)]="lanche.preco" name="preco" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input type="text"  [(ngModel)]="lanche.descricao" name="descricao" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label type="text" position="floating">Categoria</ion-label>
      <ion-input type="text"  [(ngModel)]="lanche.categoria" name="Categoria" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label type="text" position="floating">Status</ion-label>
      <ion-input type="text"  [(ngModel)]="lanche.status" name="Status" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label class="id_image" >Foto do Lanche</ion-label>
      <input type="file"  accept="image/*">
    </ion-item>
    <ion-button id="salvar" expand="block" type="submit">Cadastrar</ion-button>
  </form>
</ion-content>