<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="cadastro-container">
    <form (ngSubmit)="onCadastro()" class="cadastro-form">
      <ion-item class="cadastro-input">
        <ion-label position="floating" class="cadastro-label">Nome Vendedor</ion-label>
        <ion-input type="text" [(ngModel)]="nome" name="nome" required></ion-input>
      </ion-item>

      <ion-item class="cadastro-input">
        <ion-label position="floating" class="cadastro-label">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-item class="cadastro-input">
        <ion-label position="floating" class="cadastro-label">Telefone</ion-label>
        <ion-input type="tel" [(ngModel)]="telefone" name="telefone" required></ion-input>
      </ion-item>

      <ion-item class="cadastro-input">
        <ion-label position="floating" class="cadastro-label">CPF/CNPJ</ion-label>
        <ion-input type="text" [(ngModel)]="cpfCnpj" name="cpfCnpj" required></ion-input>
      </ion-item>

      <ion-item class="cadastro-input">
        <ion-label position="floating" class="cadastro-label">Link de Contato</ion-label>
        <ion-input type="url" [(ngModel)]="linkContato" name="linkContato" required></ion-input>
      </ion-item>

      <ion-item class="cadastro-input">
        <ion-label position="floating" class="cadastro-label">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="senha" name="senha" required></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" class="cadastro-button">Cadastrar</ion-button>
      <p (click)="voltarParaPaginaInicial()" class="voltar-link">Voltar para a Tela Inicial</p>
    </form>
  </div>
</ion-content>
