ion-content {
    --background: #000000; 
  }

.cadastro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .cadastro-form {
    width: 80%;
    max-width: 400px;
  }
  
  .cadastro-input {
    margin-bottom: 20px;
  }
  
  .cadastro-label {
    color: #333;
  }
  
  .cadastro-button {
    background-color: #28a745; 
    color: #fff;
  }
  