<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil de Usuário
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Meu perfil</ion-title>
  
    </ion-toolbar>
  </ion-header>
  <ion-buttons>

    <ion-button (click)="telalogin()">Logar</ion-button>

    <ion-button (click)="telacadastro()">Cadastrar-se</ion-button>
  </ion-buttons>
  

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
