ion-content {
    --background: #000000;
    // background-image: url('../../assets/Restaurante.png');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

ion-button {
    margin-bottom: 10px;
}