ion-content {
    --background: none; 
    background-image: url('../../assets/ComidaRapida.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #F0F8FF; 
    font-family: 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #F0F8FF; 
    line-height: 1.5;
    font-family: 'Helvetica Neue', sans-serif;
}

ion-button {
    margin-bottom: 10px;
    --background: #DC143C;
    --background-activated: #3171e0;
    --background-focused: #3171e0;
    --background-hover: #3171e0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

ion-button:hover {
    transform: scale(1.05);
    background-color: transparent;
}

ion-button:active {
    transform: scale(0.95);
}