ion-content {
    --background: none;
    background-image: url('../../assets/ComidaRapida.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .lista-lanches {
    width: 100%;
    max-width: 600px; /* Define a largura máxima da lista */
    margin-bottom: 80px; /* Margem inferior para deixar espaço para o botão fixo */
  }
  
  .lanche-item {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  .lanche-item-thumbnail {
    width: 150px; /* Tamanho da div aumentado */
    height: 150px; /* Tamanho da div aumentado */
    border-radius: 15px; /* Bordas arredondadas */
    overflow: hidden; /* Garante que a imagem não ultrapasse as bordas arredondadas */
  }
  
  .lanche-item-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem se ajuste ao tamanho */
  }
  
  .lanche-item-details {
    flex: 1; /* Ocupa todo o espaço disponível */
  }
  
  .lanche-item h2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333; /* Cor do título */
  }
  
  .lanche-item p {
    font-size: 16px;
    color: #666; /* Cor do texto */
    margin-bottom: 20px;
  }
  
  .fixed-button {
    position: fixed;
    bottom: 50%; /* Centraliza verticalmente */
    transform: translateY(50%); /* Ajusta para centralizar perfeitamente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para centralizar perfeitamente */
    z-index: 999; /* Garante que o botão fixo esteja acima de outros conteúdos */
  }
  
  .fixed-button ion-button {
    --background: #DC143C; /* Nova cor do botão */
    --background-activated: #DC143C;
    --background-focused: #DC143C;
    --background-hover: #DC143C;
    color: white;
    font-size: 14px; /* Tamanho de fonte menor */
    font-weight: bold;
    padding: 12px 24px; /* Ajusta o padding do botão para melhorar a acessibilidade */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .fixed-button ion-button:hover {
    transform: scale(1.05);
    background-color: #388E3C; /* Cor de hover do botão */
  }
  
  .fixed-button ion-button:active {
    transform: scale(0.95);
  }
   